body {
    min-height: 100vh;
    margin: 0;
    background-color: lightgrey;
    font-family: Tahoma, sans-serif;
    font-size: 1em;
}
canvas {
    border: 1px solid lightgrey;
    margin: 5px;
}
input {
    display: none;
}
input+label,
.add {
    margin: 10px;
    padding: 0.5em 1em;
    color: white;
    background: darkred;
    border-radius: 5px;
    transition: 0.5s;
    display: inline-block;
}
input+label:hover,
.add:hover {
    background-color: purple;
    cursor: pointer;
}

#dropArea{
    min-height: 70vh;
    background-color: grey;
    border: 1px solid lightgrey;
}