body {
    min-height: 100vh;
    margin: 0;
    background-color: lightgrey;
    font-family: sans-serif;
    font-size: 1em;
}

canvas {
    border: 1px solid lightgrey;
    margin: 5px;
}

input {
    display: none;
}

input+label,
.add {
    margin: 10px;
    padding: 0.5em 1em;
    color: white;
    background: darkblue;
    border-radius: 5px;
    border: 1px solid darkblue;
    display: inline-block;
    transition: 0.2s;    
}

input+label:hover,
.add:hover {
    background-color: white;
    color:darkblue;
    cursor: pointer;
}

#dropArea{
    min-height: 70vh;
    background-color: lightslategray;
    border: 1px solid lightgrey;
}